  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <div>
        <h4 class="results"> Thanks for signing up! log in!</h4>

          <form method="POST" action="/auth/login">
          <input type="name" name="username" id="username" class="form-control input-sm" placeholder="Your username">
          <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
          <input type="submit" value="Log In" class="btn btn-info btn-block">
        </form>
      </div>

   </div>

    <div class="col-xs-8 col-sm-8 col-md-8">
      <div>
        <img src ="/images/legoarch.jpg" class = "welcomePicture" >
      </div>
    </div>
  </div>
