  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <div class="welcome">
       <% if (currentUser) { %>
        <h4> Greetings <%= currentUser.username %> !</h4>
        <% } %>
        <h1 class="letsBrick"> LetsBrick! </h1>
        <ul>
          <li>Find a Model</li>
          <li>Catalogue your collection</li>
          <li>Share with others</li>
        </ul>
      </div>

   </div>

    <div class="col-xs-8 col-sm-8 col-md-8">
      <div>
        <img src ="/images/legoarch.jpg" class = "welcomePicture" >
      </div>
    </div>
  </div>
